#navbar{  
    background-color: rgb(214, 214, 214);
    color:rgb(0, 0, 0);
    margin: 0px;
    padding: 1px;

}

body{ 
    margin: 0px;
    padding: 0px;   
    border: 20px; 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #amarelo{
        background-color: rgb(255, 212, 101);
        padding: 10px;
    }
    .cinza{
        background-color: rgb(214, 214, 214);
        padding: 10px;
    }

.flex{
    display: flex;
    justify-content: space-between;
}
.emoj{
    border-color: rgb(143, 143, 143);
    border-style: solid;

}
.flexs{
    display: flex;
  
   
}
.c{
    background-color: rgb(214, 214, 214);
    padding: 10px;
    
}
.azul{
    background-color: rgb(53, 8, 255);
    padding: 1px;
    
}
.c2{
    background-color: rgb(168, 23, 23);
    padding: 10px;
    
}

